<header class="header" id="js-header">
  <div class="header__container container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo">
    </a>

    <nav class="nav" id="js-navMenu">
      <ul>
        <li><a href="./index.html">Startseite</a></li>
        <li><a href="./about-us.html">Über uns</a></li>
        <li><a href="./projects.html">Projekte</a></li>
        <li><a href="./events.html">Veranstaltungen</a></li>
        <li><a href="./press.html">Presseschau</a></li>
        <li><a href="#">Mitglied werden</a></li>
        <li><a href="#">Spenden</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Datenschutzerklärung</a></li>
        <li><a href="#">Impressum</a></li>
      </ul>
    </nav>
  </div>

  <button type="button" class="btn-burger" id="js-burger">
    <span></span>
  </button>
</header>